<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="bootstrap.css">

<!-- you need to add the css/ part in front of the documents.
 -->

  <title>Service Provider</title>
  <style>
    # img {
    #   width: 100px;
    #   height: 100px;
    # }
  </style>
</head>
<body>
  <header>
  <ul>
   <li>  <a href="/service_providers">Home</a></li>
   <li>  <a href="/logout">Logout</a></li>
   <li><a href="/service_providers/new">Add Service Provider</a> </li>
   <li> <a href="#">Suggest Service Provider</a></li>
<li><a href="/service_categories">See Service Categories</a> </li>

 </ul>
  </header>

  <div id="container">
  <%= yield %>
  </div>
</body>
</html>

<html>