<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="bootstrap.css">

<!-- you need to add the css/ part in front of the documents.
 -->

  <title>Service Provider</title>
</head>
<body>
  <header>
  <ul>
   <li>  <a href="/service_providers">Home</a></li>
 </ul>
  </header>

  <div id="container">
  <%= yield %>
  </div>
</body>
</html>