 <a href="/welcome">Go Back</a>



<form action="/users/login" method="post">
<p> User Login</p>

<label> Email <input type="text" name="params[:email]"/> </label></br>
<label> Password <input type="password" name="password"/> </label></br>

<input type="submit" value="Log in">

</form>