
<div id="flash" class="failure">
<h2>  <%= flash[:failure] %> </h2>
</div>


<a href="/welcome">Go Back</a>


<% if @user.nil? == false %>

  <% if @user.errors.any? %>

    <%= erb 'shared/_error_messages'.to_sym %>

    <form action="/users/signin" method="post">
    <p> User Login</p>

    <label> Email <input type="text" name="[session][email]"/> </label></br>
    <label> Password <input type="password" name="[session][password]"/> </label></br>

    <input type="submit" value="Log in">

    </form>
    <% end %>

    <% else %>

    <form action="/users/signin" method="post">
    <p> User Login</p>
    <label> Email <input type="text" name="[session][email]"/> </label></br>
    <label> Password <input type="password" name="[session][password]"/> </label></br>
    <input type="submit" value="Log in">

    </form>

    <% end %>