<% if @service_category.nil? == false %>

  <% if @service_category.errors.any? %>
    <%= erb 'shared/_error_messages'.to_sym %>

    <form action="/service_categories/new" method="post">
    <p> Service Category <input type="text" name="service_category"></p>

    <input type="submit" value="Submit">

    </form>

    <% else %>
    <form action="/service_categories/new" method="post">
    <p> Service Category <input type="text" name="service_category"></p>

    <input type="submit" value="Submit">

    </form>



    <%end %>