
<form action="/service_categories/<%= @service_category.id %>" method="post">
<p> Service Category <input type="text" value= <%= @service_category.name %> name="service_category"/></p>

<input type="submit" value="Submit">

</form>
