
<form action="/service_providers/new" method="post">
<label for="Image">  Image: </label>
<input type="url" name="image" placeholder="image url">

<label for="organizationsName ">Organization's Name: </label>
<input type="text" name="org_name" placeholder="Organization's name"></p>
<p> Address: <input type="text" name="address"></p>
<p> City: <input type="text" name="city"></p>
<p> State: <input type="text" name="state"></p>
<p> Zip code: <input type="text" name="zip_code"></p>
<p> Phone number: <input type="text" name="org_phone_number" ></p>

<p> Contact Person: <input type="text" name="contact_person"></p>
<p> Email address: <input type="text" name="email_address"></p>
<p> Phone number: <input type="text" name="phone_number"></p>
<p> Mission Statement: <input type="text" name="mission"></p>

<p> Services Targeted:</p>

<%  @service_categories.each do |service_category| %>
  <input type="checkbox" name="category[]" value=" <%= service_category.id %> "> <%= service_category.name %> <br>

<% end %>

<input type="submit" value="Submit">

</form>
